@import "variables";

ul {
    padding: 0 2rem;
    .list-group-item {
        font-size: 1rem;
        font-weight: bold;

        margin: .7rem 1rem;
        padding: 0rem 0 0rem 1.5rem;

        border: 1px solid #aaa !important;
        border-radius: 2px !important;

        transition: all 200ms ease-in;

        &:hover {
            color: white;
            background-color: #08408B;
        }

        img {
            background-color: $primary-color;
        }

    }
}
.categories_Section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    .cat{
        display: flex;
        flex-direction: column;
        width: 12.5rem;
        
        img{
            height: 8.3rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        button{
            background-color: rgb(212, 209, 209);
            height: 2.5rem;
            border: none;
            font-size: 0.8rem;
            &:hover{
                background-color: #08408B;
                color: white;
                
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .categories_Section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15px;
        .cat{
            display: flex;
            flex-direction: column;
            width: 12rem;
           
            img{
                height: 8.6rem;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                
            }
            button{
                background-color: rgb(212, 209, 209);
                height: 2.5rem;
                border: none;
                font-size: 0.8rem;
                &:hover{
                    background-color: #08408B;
                    color: white;
                    
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .categories_Section{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 15px;
        .cat{
            display: flex;
            flex-direction: column;
            width: 8.5rem;
            .cat{
                display: flex;
                flex-direction: column;
                width: 11rem;
            }
        }
    }

}