.top__section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

}
.top__section li{
    margin-right: 20px;
    font-size: 1rem;  
}
.logo-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.logo-section img{
    height: 100%;
    margin-right: 10px;
}
.logo-section p{
    font-size: 1.1rem;
}

.logos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.4;
    object-fit:cover;
}
.logos a img{
    height: 90%;
}

.teamCard{
    display: flex;
    border: 1px solid grey;
    background-image: url('../Images/team-bg.png');
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    height: 11rem;

}
.mainBg{
    background-image: url('../Images//bg002.jpeg');
    background-size: cover;
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}
.labContainer{
    background-image: url('../Images//labs-banner.jpeg');
    background-size: cover;
}
.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.labcard{
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px  1px 1px rgb(218, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .logo{
        border-radius: 50px;
        height: 50px;
        width: 5px;
        background-color: #71B10C;
    }
}

/* Medium Screen */
@media screen and (max-width: 850px) {
    .logos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;    
        
    }
    
    .logos a img{
        height: 60%;
    }

    .logo-section img{
        height: 100%;
        margin-right: 10px;
    }
    .logo-section p{
        font-size: 0.9rem;
    }
  }


/* Small Screen  */
@media screen and (max-width: 650px) {
    .logos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.4;
        object-fit:cover;
    }
    .logos a img{
        height: 80%;
    }
  }




